a {
  color: #fff;
}
a:hover {
  color: #212121;
}
.w75percent {
  width: 75%;
}
.w100percent {
  width: 100%;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.margin10 {
  margin: 10px;
}
.margin15 {
  margin: 15px;
}
.mtop10 {
  margin-top: 10px;
}
.mtop35 {
  margin-top: 35px;
}
.mbot10 {
  margin-bottom: 10px;
}
.mtop35 {
  margin-bottom: 35px;
}
.margin20 {
  margin: 20px;
}
.mtopbot10 {
  margin: 10px 0;
}
.mtopbot15 {
  margin: 15px 0;
}
.mtopbot20 {
  margin: 20px 0;
}
.margin20 {
  margin: 20px;
}
.mright5 {
  margin-right: 5px;
}
.mright10 {
  margin-right: 10px;
}
.mright15 {
  margin-right: 15px;
}
.mright20 {
  margin-right: 20px;
}
.mright25 {
  margin-right: 25px;
}
.mright35 {
  margin-right: 35px;
}
.mleft5 {
  margin-left: 5px;
}
.mleft10 {
  margin-left: 10px;
}
.mleft15 {
  margin-left: 15px;
}
.mleft20 {
  margin-left: 20px;
}
.mleft35 {
  margin-left: 35px;
}
.m0auto {
  margin: 0 auto;
}
.pointer {
  cursor: pointer;
}
.fright {
  float: right;
}
.fleft {
  float: left;
}
.lh10 {
  line-height: 10px;
}
.lh20 {
  line-height: 20px;
}
.clearer {
  clear: both;
  float: none;
}
.bg-pos0 {
  background-position: 0 0;
}
.bg-pos46 {
  background-position: 4px 6px;
}
.bg-pos47 {
  background-position: 4px 7px;
}
.bg-pos54 {
  background-position: 5px 4px;
}
.bg-pos56 {
  background-position: 5px 6px;
}
.bg-pos57 {
  background-position: 5px 7px;
}
.bg-pos88 {
  background-position: 8px 8px;
}
.bg-pos108 {
  background-position: 10px 8px;
}
.dark-primary-color {
  background: #303F9F;
}
.default-primary-color {
  background: #3F51B5;
}
.light-primary-color {
  background: #C5CAE9;
}
.text-primary-color {
  color: #FFFFFF;
}
.text-primary-color a {
  color: #FFFFFF;
}
.accent-color {
  background: #607D8B;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #727272;
}
.divider-color {
  border-color: #B6B6B6;
}
.fsize15 {
  font-size: 15px;
}
.fsize17 {
  font-size: 17px;
}
.fsize20 {
  font-size: 20px;
}
.fcenter {
  text-align: center;
}
