a {
  color: #fff;
}
a:hover {
  color: #212121;
}
.padding10 {
  padding: 10px;
}
.mtop10 {
  margin-top: 10px;
}
.mtop35 {
  margin-top: 35px;
}
.mbot10 {
  margin-bottom: 10px;
}
.mtop35 {
  margin-bottom: 35px;
}
.margin10 {
  margin: 10px;
}
.margin15 {
  margin: 15px;
}
.margin20 {
  margin: 20px;
}
.mtopbot10 {
  margin: 10px 0;
}
.mtopbot15 {
  margin: 15px 0;
}
.mtopbot20 {
  margin: 20px 0;
}
.margin20 {
  margin: 20px;
}
.mright5 {
  margin-right: 5px;
}
.mright10 {
  margin-right: 10px;
}
.mright35 {
  margin-right: 35px;
}
.mleft5 {
  margin-left: 5px;
}
.mleft10 {
  margin-left: 10px;
}
.mleft35 {
  margin-left: 35px;
}
.pointer {
  cursor: pointer;
}
.fright {
  float: right;
}
.fleft {
  float: left;
}
.lh10 {
  line-height: 10px;
}
.lh20 {
  line-height: 20px;
}
.clearer {
  clear: both;
  float: none;
}
.dark-primary-color {
  background: #303F9F;
}
.default-primary-color {
  background: #3F51B5;
}
.light-primary-color {
  background: #C5CAE9;
}
.text-primary-color {
  color: #FFFFFF;
}
.text-primary-color a {
  color: #FFFFFF;
}
.accent-color {
  background: #607D8B;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #727272;
}
.divider-color {
  border-color: #B6B6B6;
}
