.popup {
  width: 250px;
  position: absolute;
  background-color: #f4f4f4;
  border: 1px solid #212121;
  box-shadow: 1px 1px 10px 1px #000;
  color: #212121 !important;
}
.popup-title {
  min-height: 32px;
  background: #303F9F;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
}
.popup-title h1 {
  text-align: center;
  font-size: 135% !important;
  margin: 0;
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .55);
}
.popup-content h1 {
  color: #fff !important;
}
.popup-content {
  color: #212121 !important;
  font-size: 115%;
  padding: 10px;
}
.popup-button-wrapper {
  height: 35px;
  width: 186px;
  margin: 10px auto;
}
.popup-button-wrapper input {
  font-size: 115%;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid #212121;
  background-color: #607D8B;
  width: 186px;
  height: 34px;
  line-height: 34px;
  margin: 0;
  padding: 0;
}
.popup-button-wrapper input:hover {
  font-weight: bold;
  color: #212121;
  background-color: #C5CAE9;
}
.popup-overlay {
  background: rgba(25, 25, 25, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.popup-icon-wrapper {
  top: -6px;
  position: relative;
}
.popup-close-icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-image: url("../img/icons/close_circle_half.png");
  display: block;
  position: absolute;
  left: -20px;
  top: 6px;
}
.popup-move-icon {
  width: 35px;
  height: 40px;
  cursor: pointer;
  background-image: url("../img/icons/move_half.png");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: -20px;
  top: 6px;
}
.popup-move-icon:hover {
  background-color: #C5CAE9;
}
li.popup-list {
  padding: 5px;
}
