.sidebar {
  position: absolute;
  background-color: #3F51B5;
  margin: 0;
  bottom: 0;
  z-index: 9999;
  display: block;
  height: 100%;
  -webkit-box-shadow: 2px 0 1px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0 1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0 1px 0 rgba(0, 0, 0, 0.75);
}
.sidebar-title {
  min-height: 40px;
  background: #303F9F;
  -webkit-box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
  -moz-box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
  box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
}
.sidebar-title h1 {
  text-align: center;
  font-size: 135% !important;
  margin: 0 0 5px 0 !important;
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding: 10px;
}
.sidebar-content {
  font-size: 115%;
  padding: 10px;
}
