html {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
div, span, object, iframe, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block;
}
ul {
  list-style: none;
}
h1 {
  font-weight: 400;
  font-size: 200%;
  margin: 0 0 35px 0;
  letter-spacing: 2px;
}
h2 {
  font-weight: 400;
  font-size: 160%;
  margin: 0 0 8px 0;
  letter-spacing: 1px;
  display: inline-block;
}
h3 {
  font-weight: 400;
  font-size: 130%;
}
h4 {
  font-weight: 400;
  font-size: 120%;
  margin: 0;
}
h5 {
  font-weight: 400;
  font-size: 100%;
  margin: 0 0 9px 0;
}
h6 {
  font-weight: 400;
  font-size: 80%;
  margin: 0 0 2px 0;
}
a {
  text-decoration: none;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.main-wrapper {
  background-color: #e2e2e2;
}
.main-content {
  position: relative;
  margin: 15px auto;
  min-height: 1000px;
  width: 1200px;
}
.main-controls-container-overall {
  height: auto;
  width: 150px;
  background-color: #3F51B5;
  border: 1px solid #212121;
  margin: 20px auto;
}
.main-controls-container {
  width: 120px;
  margin: 15px auto;
}
.scene-controls-container {
  width: 100px;
  margin: 10px auto;
}
.object-controls-container {
  width: 120px;
  margin: 10px auto;
}
.outline-container {
  width: auto;
  min-height: 200px;
  min-width: 150px;
  max-width: 240px;
  background-color: #3F51B5;
  border: 1px solid #212121;
}
.dynamic-outline a {
  display: block;
  padding: 5px;
}
.dynamic-outline a:hover {
  background-color: #C5CAE9;
  color: #212121;
  font-weight: bold;
}
.inspector-container {
  min-height: 200px;
  width: auto;
  min-width: 300px;
  background-color: #3F51B5;
  border: 1px solid #212121;
}
.header-bar-overall {
  padding-bottom: 50px;
}
.header-bar {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 9999;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: 0;
  -webkit-box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
  -moz-box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
  box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
}
.header-bar ul {
  min-width: 642px;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  position: relative;
  display: inline-table;
  background: #303F9F;
  border: 1px solid #212121;
}
.header-bar ul ul ul {
  border-bottom: 1px solid #212121;
  border-top: none;
  border-right: 1px solid #212121;
  border-left: none;
}
.header-bar>ul>li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.header-bar ul li:hover>ul, .hvr>ul {
  display: block !important;
}
.header-bar>ul>li:hover>a, .hvr>a {
  font-weight: bold;
  border-radius: 0;
  position: relative;
  background: #C5CAE9;
  color: #212121;
  z-index: 9;
}
.header-bar ul li:hover > a:only-child {
  box-shadow: none;
}
.header-bar ul li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
.header-bar>ul>li>a {
  padding: 0 20px;
  line-height: 40px;
  height: 40px;
  margin-right: -1px;
}
.header-bar ul ul {
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  display: none;
  width: auto;
  min-width: 172px;
  padding: 0 1px 2px 1px;
  margin: 0;
  position: absolute;
  margin-top: 0;
  top: 40px;
}
.header-bar ul ul li {
  float: none;
  position: relative;
  width: 100%;
  text-align: left;
}
.header-bar ul ul li a {
  padding: 0 15px;
  padding-right: 50px;
  line-height: 30px;
  height: 30px;
  margin: 0;
}
.header-bar ul ul li:hover>a {
  background: #C5CAE9;
  color: #212121;
  box-shadow: none;
  font-weight: bold;
}
.header-bar ul ul ul {
  position: absolute;
  z-index: 8;
  left: 100%;
  top: 0;
}
.status-bar-overall {
  width: 100%;
  text-align: center;
}
.status-bar {
  height: 40px;
  line-height: 40px;
}
.movable {
  box-shadow: 1px 1px 10px 1px #212121;
}
.component-container {
  padding: 5px;
  border-bottom: 1px solid #212121;
}
.component-detail-container {
  width: 290px;
  margin: 10px 0;
}
.component-detail-headline {
  padding: 3px;
  text-align: center;
  margin: 0;
  color: #FFFFFF;
}
.component-headline {
  padding: 6px 10px 7px 10px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
.container-header {
  margin-bottom: 1px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
  -moz-box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
  box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
}
.container-header-small {
  text-align: center;
  margin: 0;
  height: 35px;
  line-height: 35px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
  -moz-box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
  box-shadow: 0 1px 5px 0 rgba(33, 33, 33, 0.75);
}
.controls-container {
  height: 35px;
  margin: 10px auto;
  width: 186px;
}
.texture-preview-container {
  margin: 10px auto;
  width: 250px;
}
.texture-preview-container img {
  width: 250px;
}
.edited {
  background-color: #47bf48 !important;
  color: #212121;
  font-weight: bold;
}
.edited a {
  color: #212121;
  font-weight: bold;
}
.active {
  background-color: #C5CAE9;
  font-weight: bold;
  color: #212121 !important;
}
.active a {
  color: #212121;
}
.icon-container {
  width: 35px;
  height: 40px;
  line-height: 50px;
  cursor: pointer;
}
.icon-container:hover {
  background-color: #C5CAE9;
}
.icon-container-small {
  width: 30px;
  height: 27px;
  position: relative;
}
.icon-container-small img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.icon-container-small:hover {
  background-color: #C5CAE9;
}
.icon-big {
  width: 35px;
  height: 35px;
}

/**
 * icons
 */

a.move-icon {
  background-image: url('../img/icons/move_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}
a.move-icon:hover {
  background-image: url('../img/icons/move_half_black.png');
}
a.play-control {
  background-image: url('../img/icons/play.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}
a.play-control:hover {
  background-image: url('../img/icons/play_black.png');
}
a.pause-control {
  background-image: url('../img/icons/pause.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}
a.pause-control:hover {
  background-image: url('../img/icons/pause_black.png');
}
a.stop-control {
  background-image: url('../img/icons/stop.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}
a.stop-control:hover {
  background-image: url('../img/icons/stop_black.png');
}
a.closeable {
  background-image: url('../img/icons/close_circle_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}
a.closeable:hover {
  background-image: url('../img/icons/close_circle_half_black.png');
}
a.toggle-left {
  background-image: url('../img/icons/chevron_left_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}
a.toggle-left:hover {
  background-image: url('../img/icons/chevron_left_half_black.png');
}
a.toggle-right {
  background-image: url('../img/icons/chevron_right_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}
a.toggle-right:hover {
  background-image: url('../img/icons/chevron_right_half_black.png');
}
a.toggle-down {
  background-image: url('../img/icons/chevron_down_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 27px;
}
a.toggle-down:hover {
  background-image: url('../img/icons/chevron_down_half_black.png');
}
a.toggle-up {
  background-image: url('../img/icons/chevron_up_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 27px;
}
a.toggle-up:hover {
  background-image: url('../img/icons/chevron_up_half_black.png');
}
a.edit-icon {
  background-image: url('../img/icons/edit_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
a.edit-icon:hover {
  background-image: url('../img/icons/edit_half_black.png');
}
a.delete-icon {
  background-image: url('../img/icons/minus_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
a.delete-icon:hover {
  background-image: url('../img/icons/minus_half_black.png');
}
a.translation-control {
  background-image: url('../img/icons/translate_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 26px;
}
a.translation-control:hover {
  background-image: url('../img/icons/translate_half_black.png');
}
a.translation-control-active {
  background-image: url('../img/icons/translate_half_black.png');
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 26px;
}
a.translation-control-active:hover {
  background-image: url('../img/icons/translate_half.png');
}
a.rotation-control {
  background-image: url('../img/icons/rotate_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 26px;
}
a.rotation-control:hover {
  background-image: url('../img/icons/rotate_half_black.png');
}
a.rotation-control-active {
  background-image: url('../img/icons/rotate_half_black.png');
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 26px;
}
a.rotation-control-active:hover {
  background-image: url('../img/icons/rotate_half.png');
}
a.scale-control {
  background-image: url('../img/icons/scale_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 26px;
}
a.scale-control:hover {
  background-image: url('../img/icons/scale_half_black.png');
}
a.scale-control-active {
  background-image: url('../img/icons/scale_half_black.png');
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 26px;
}
a.scale-control-active:hover {
  background-image: url('../img/icons/scale_half.png');
}
