/*
    Created on : Dec 15, 2014, 11:21:16 PM
    Author     : lukas oberbichler <l.oberbichler@gmail.com>
*/

html {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
div, span, object, iframe, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block;
}
ul {
  list-style: none;
}
h2, h3, h4 {
  font-family: sans-serif;
  font-weight: 400;
}
h5, h6 {
  font-family: sans-serif;
  font-weight: 400;
}
h1 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 200%;
  margin: 0 0 35px 0;
  letter-spacing: 2px;
}
h2 {
  font-size: 160%;
  margin: 0 0 8px 0;
  letter-spacing: 1px;
  display: inline-block;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 120%;
  margin: 0;
}
h5 {
  font-size: 100%;
  margin: 0 0 9px 0;
}
h6 {
  font-size: 80%;
  margin: 0 0 2px 0;
}
a {
  text-decoration: none;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
div#wrapper {
  background-color: #e2e2e2;
}
div#container {
  position: relative;
  margin: 15px auto;
  width: 1200px;
}
div#controls-container-overall {
  height: 105px;
  width: 150px;
  background-color: #3F51B5;
  border: 1px solid #212121;
  margin: 20px auto;
}
div#controls-container {
  width: 110px;
  margin: 15px auto;
}
div#render-container {
  float: left;
  margin-right: 10px;
  border: 1px solid #212121;
}
div#outline-container {
  width: auto;
  min-height: 200px;
  min-width: 150px;
  max-width: 240px;
  float: left;
  margin-left: 10px;
  background-color: #3F51B5;
  border: 1px solid #212121;
}
div#dynamic-outline {
  padding: 10px;
}
div#dynamic-outline a {
  display: block;
  padding: 5px;
}
div#dynamic-outline a:hover {
  background-color: #C5CAE9;
  color: #212121;
  font-weight: bold;
}
#inspector-container {
  min-height: 200px;
  width: auto;
  min-width: 300px;
  float: left;
  margin-left: 20px;
  background-color: #3F51B5;
  border: 1px solid #212121;
}
#dynamic-inspector {
  margin-top: 5px;
}
div.controls-container {
  height: 35px;
  margin: 10px auto;
  width: 186px;
}
div#header-bar-overall {
  padding-bottom: 50px;
}
#header-bar {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 9999;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: 0;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
}
#header-bar ul {
  min-width: 642px;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  position: relative;
  display: inline-table;
  background: #303F9F;
  border: 1px solid #212121;
}
#header-bar ul ul ul {
  border-bottom: 1px solid #212121;
  border-top: none;
  border-right: 1px solid #212121;
  border-left: none;
}
#header-bar>ul>li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
#header-bar ul li:hover>ul, .hvr>ul {
  display: block !important;
}
#header-bar>ul>li:hover>a, .hvr>a {
  font-weight: bold;
  border-radius: 0;
  position: relative;
  background: #C5CAE9;
  color: #212121;
  z-index: 9;
}
#header-bar ul li:hover > a:only-child {
  box-shadow: none;
}
#header-bar ul li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
#header-bar>ul>li>a {
  padding: 0px 20px;
  line-height: 40px;
  height: 40px;
  margin-right: -1px;
}
#header-bar ul ul {
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  display: none;
  width: auto;
  min-width: 172px;
  padding: 0px 1px 2px 1px;
  margin: 0;
  position: absolute;
  margin-top: 0;
  top: 40px;
}
#header-bar ul ul li {
  float: none;
  position: relative;
  width: 100%;
  text-align: left;
}
#header-bar ul ul li a {
  padding: 0px 15px;
  padding-right: 50px;
  line-height: 30px;
  height: 30px;
  margin: 0;
}
#header-bar ul ul li:hover>a {
  background: #C5CAE9;
  color: #212121;
  box-shadow: none;
  font-weight: bold;
}
#header-bar ul ul ul {
  position: absolute;
  z-index: 8;
  left: 100%;
  top: 0;
}
div#status-bar-overall {
  width: 100%;
  font-size: 17px;
  text-align: center;
}
div#status-bar {
  height: 40px;
  line-height: 40px;
}
div.movable {
  box-shadow: 1px 1px 10px 1px #212121;
}
a.movable {
  background-image: url('../img/icons/move_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 7px;
}
a.movable:hover {
  background-image: url('../img/icons/move_half_black.png');
}
a#play-control {
  background-image: url('../img/icons/play.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}
a#play-control:hover {
  background-image: url('../img/icons/play_black.png');
}
a#pause-control {
  background-image: url('../img/icons/pause.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}
a#pause-control:hover {
  background-image: url('../img/icons/pause_black.png');
}
a#stop-control {
  background-image: url('../img/icons/stop.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}
a#stop-control:hover {
  background-image: url('../img/icons/stop_black.png');
}
a.closeable {
  background-image: url('../img/icons/close_circle_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 6px;
  margin-left: 5px;
}
a.closeable:hover {
  background-image: url('../img/icons/close_circle_half_black.png');
}
a.toggleable-hide {
  background-image: url('../img/icons/chevron_left_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-left: 8px;
}
a.toggleable-hide:hover {
  background-image: url('../img/icons/chevron_left_half_black.png');
}
a.toggleable-show {
  background-image: url('../img/icons/chevron_right_half.png');
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-left: 10px;
}
a.toggleable-show:hover {
  background-image: url('../img/icons/chevron_right_half_black.png');
}
.component-container {
  padding: 5px;
}
.component-detail-container {
  margin: 10px 0;
}
.component-detail-headline {
  padding: 3px;
  text-align: center;
  margin: 0;
  color: #FFFFFF;
}
.component-headline {
  padding: 6px 10px 7px 10px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #212121;
  border-top: 1px solid #212121;
}
.container-header {
  margin-bottom: 1px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
}
.container-header-small {
  text-align: center;
  margin: 0;
  height: 35px;
  line-height: 35px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(33, 33, 33, 0.75);
}
div#texture-preview-container {
  margin: 10px auto;
  width: 250px;
  padding: 5px;
}
div#texture-preview-container img {
  width: 250px;
}
.edited {
  background-color: #47bf48 !important;
  color: #212121;
  font-weight: bold;
}
.edited a {
  color: #212121;
  font-weight: bold;
}
.active {
  background-color: #C5CAE9;
  font-weight: bold;
  color: #212121 !important;
}
.active a {
  color: #212121;
}
div.icon-container {
  width: 35px;
  height: 40px;
  line-height: 50px;
  cursor: pointer;
}
div.icon-container:hover {
  background-color: #C5CAE9;
}
div.icon-container-small {
  width: 30px;
  height: 27px;
  position: relative;
}
div.icon-container-small img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
div.icon-container-small:hover {
  background-color: #C5CAE9;
}
.icon-big {
  width: 35px;
  height: 35px;
}
