/* 
    Created on : Dec 15, 2014, 11:21:16 PM
    Author     : lukas oberbichler <l.oberbichler@gmail.com>
*/

/** color codes
    #A9A9A9 - bright grey
    #6D6D6D - mediocre grey
    #565656 - dark grey
    #E7E5E5 - font color

    #83b4d3 - bright-blue;
    #0a6096 - middle-blue;
    #4F6573 - dark-blue;
*/

html {margin:0;padding:0;border:0;overflow-x:hidden;}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #E7E5E5;
    margin: 0;
    padding: 0;
}

div, span, object, iframe, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}

ul {
    list-style: none;
}

h2,h3,h4 { font-family: sans-serif; font-weight: 400; color: #E7E5E5;}
h5,h6 { font-family: sans-serif; font-weight: 400; color: #E7E5E5;}
h1 {
    font-family: sans-serif; 
    font-weight: 300; 
    color: #E7E5E5;
    font-size: 200%; 
    margin: 0 0 35px 0; 
    letter-spacing: 2px;
}

h2 { font-size: 160%; margin: 0 0 8px 0; letter-spacing: 1px; display:inline-block; }
h3 { font-size: 130%; margin: 10px 0 6px 0; }
h4 { font-size: 120%; margin: 0; }
h5 { font-size: 100%; margin: 0 0 9px 0; }
h6 { font-size: 80%; margin: 0 0 2px 0; }

a { text-decoration: none; color: #E7E5E5; }

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

div#container-overall {
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    background-color: #565656;
}

div#container {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    min-height: 750px;
}

div#content {
    width: 1060px;
    float: left;
    margin: 0 auto;
}

div#controls-container {
    margin: 20px auto;
    width: 110px;
    border: solid 2px #000;
}

div#render-container {
    width: 512px;
    min-width: 500px;
    float: left;
    margin-right: 10px;
    border: solid 2px #000;
}

div#outline-container {
    width: 200px;
    float: left;
    margin-left: 10px;
    background-color: #565656;
    border: solid 1px #000;
}

div#dynamic-outline {
    padding: 10px;
}

div#dynamic-outline a {
    display: block;
    padding: 5px;
}

div#dynamic-outline a:hover {
    background-color: #83b4d3;
    color: #000;
}

div#inspector-container {
    width: 300px;
    float: left;
    margin-left: 20px;
    background-color: #565656;
    border: solid 1px #000;

}

div#dynamic-inspector {
    padding: 10px;
}

div#header-bar-overall {
    padding-bottom: 50px;
    background-color: #565656;
}

#header-bar {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 9999;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    left: 0px;
}

#header-bar ul {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAjCAYAAABVcWC0AAAAX0lEQVQIW1XE2xJCYBgF0Nlvh1IilxTlkNNQBjXefRu/b8K6WHCLkbjmP8nJvoTKfg3SJe0JlZV0u+KWsObO0Uc6Pd+Eynw0245hTSwFlXS4l8SacSsIle7nkuZlxL8J1OJK6wtAUrwAAAAASUVORK5CYII=);
    min-width: 642px;
    padding: 0 0 0 0;
    box-shadow: 0px 2px 1px  0px rgba(0,0,0,.55);
    margin: 0;
    width: 100%;
    list-style: none;
    position: relative;
    display: inline-table;
}

#header-bar a {
    font-family: Droid Sans !important;
}

#header-bar>ul>li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#header-bar ul li:hover>ul, .hvr>ul {
    display: block !important;
}

#header-bar>ul>li:hover>a, .hvr>a {
    color: #72e5e5 !important;
    border-radius: 0px;
    position: relative;
    z-index: 9;
}

#header-bar ul li:hover > a:only-child { 
    box-shadow : none;
}

#header-bar ul li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

#header-bar>ul>li>a {
    padding: 0px 20px;
    line-height: 35px;
    height: 35px;
    color: #ffffff;
    margin-right: -1px;	
    text-shadow: 0px 1px 0px rgba(0,0,0,.83);
}

#header-bar ul ul {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    display: none;
    background: #647d8c;
    border-radius: 4px;
    width: auto;
    min-width: 172px;
    padding: 0px 1px 2px 1px;
    margin: 0;
    position: absolute;
    margin-top: 0;
    box-shadow: 0px 0px 0px  0px rgba(85,85,85,0);
    top: 33px;
}

#header-bar ul ul li {
    float: none;
    position: relative;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #000;
}

#header-bar ul ul li a {
    padding: 0px 15px;
    padding-right: 50px;
    line-height: 30px;
    height: 30px;
    color: #ffffff !important;
    margin: 0;
    text-shadow: 0px 1px 1px rgba(0,0,0,.60);
}

#header-bar ul ul li:hover>a {
    border-radius: 0px;
    color: #72e5e5 !important;
    box-shadow: none;
}

#header-bar ul ul li a:hover {
    border-radius: 0px;
    background: #3f5f70;
}

#header-bar ul ul ul {
    position: absolute;
    z-index: 8;
    left: 100%;
    top: 0;
}

div#status-bar-overall {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAjCAYAAABVcWC0AAAAX0lEQVQIW1XE2xJCYBgF0Nlvh1IilxTlkNNQBjXefRu/b8K6WHCLkbjmP8nJvoTKfg3SJe0JlZV0u+KWsObO0Uc6Pd+Eynw0245hTSwFlXS4l8SacSsIle7nkuZlxL8J1OJK6wtAUrwAAAAASUVORK5CYII=);
    width: 100%;
    font-size: 17px;
    text-align: center;
    box-shadow: 0px -2px 1px  0px rgba(0,0,0,.55);
    border-bottom: 1px solid #000;
}

div#status-bar {
    height: 35px;
    line-height: 35px;
}

.container-header {
    background-color: #0a6096;
    text-align: center;
    color: #fff;
    box-shadow: 0px 2px 1px  0px rgba(0,0,0,.55);
    margin: 0px 0 5px 0;
    height: 40px;
    line-height: 40px;
}

div#table-container {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #6D6D6D;
}

thead {
    background : #e0e0e0;
    color : #000;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid #000;
}

th, td {
    padding : 0.5em 1em;
    border-left : 1px solid #6D6D6D;
    margin : 0;
    overflow: visible;
}

div.icon-container {
    width: 35px;
    height: 35px;
    float: right;
    padding: 5px 5px 0px 0px;
}

div.icon-container:hover {
    background-color: #83b4d3;
}

img.icon-big {
    width: 35px;
    height: 35px;
}

.clearer {
    clear: both;
    float: none;
}