.table-container {
  width: 100%;
}
table {
  font-family: sans-serif;
  color: #212121;
  font-size: 14px;
  text-shadow: 1px 1px 0 #fff;
  background: #f4f4f4;
  border: #212121 1px solid;
  -moz-box-shadow: 0 1px 2px rgba(33, 33, 33, 0.75);
  -webkit-box-shadow: 0 1px 2px rgba(33, 33, 33, 0.75);
  box-shadow: 0 1px 2px rgba(33, 33, 33, 0.75);
}
table th {
  padding: 6px 10px 7px 10px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background: #f4f4f4;
}
table th:first-child {
  text-align: left;
  padding-left: 10px;
}
table tr {
  text-align: center;
  padding-left: 10px;
}
table td:first-child {
  text-align: left;
  padding-left: 10px;
  border-left: 0;
}
table td {
  padding: 8px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #212121;
  border-left: 1px solid #212121;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}
table tr:last-child td {
  border-bottom: 0;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}
.component-table {
  width: 100%;
}
.table-title {
  font-weight: bold;
  float: left;
  margin: 0 2px 0 5px;
}
.table-content {
  float: left;
  margin: 0 5px 0 5px;
}
